body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* reset */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
    

img {
    display: block;
}

input {
    font-family: inherit;
}

button {
    font-family: inherit;
    color: currentColor;
}

/* common style */

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* header style */

.header-design {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-modificate {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2e2f42;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link .link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link .link:hover, .nav-link .link:focus {
    color: #404bbf;
}

.address-design {
    font-style: normal;
    margin-left: auto;
}

.address-link {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-link .contacts {
    display: block;
    padding: 24px 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link .contacts:hover, .address-link .contacts:focus {
    color: #404bbf;
}

.current {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0;
}

.current::after {
    content: '';
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
}

/* main-section style */

.main-section {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    align-items: center;
    max-width: 496px;
}

.action-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    cursor:pointer;
    border-radius: 4px;
    padding: 16px 32px;
    margin-top: 48px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.action-button:hover, .action-button:focus {
    background-color: #404bbf;
}

/* advantage section style */

.second-title {
    font-weight: 700;
    font-size: 36px;
    color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantage-list {
    display: flex;
    gap: 24px;
}

.advantage-list-item {
    width: calc((100% - 72px) / 4);
    display: block;
}

.advantege-icon-box {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 24px 100px;
    text-align: center;
    background-color: #f4f4fd;;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
}

.advantage-section .advantage-section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 8px;
    margin-bottom: 8px;
}

.main-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* team section style */

.team-section {
    background-color: #f4f4fd;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-container {
    padding: 32px 0;
}

.second-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-windows {
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-img {
    width: 100%;
}

.teammate {
    display: block;
    padding: 32px 0;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-txt {
    text-align: center;
    margin-bottom: 8px;
}

.social-links-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-shrink: 0;
}

.social-links-list-items .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-list-items {
    width: calc((100% - 72px) / 4);
    justify-content: center;
}

.social-icon {
    fill: #F4F4FD;
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

/* portfolio style */

.portfolio-list {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover, .portfolio-list-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
0 1px 1px 0 rgba(46, 47, 66, 0.16),
0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.overlay-img {
    position: relative;
    overflow: hidden;
}

.overlay { 
    padding: 40px 32px;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .overlay {
    transform: translateY(0);
}

.portfolio-app {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.product-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

/* footer style */

.footer-background {
    background-color: #2e2f42;
}

.footer-design {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.footer-inform {
    padding: 100px 0;
    margin-right: 120px;
}

.foot-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-links-txt {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.social-links-list-items {
    width: 40px;
    height: 40px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.social-link-footer {
    width: 100%;
    height: 100%;
}

.social-link-footer:hover, .social-link-footer:focus {
    background-color: #31d0aa;
}

.footer-subscribe {
    margin-left: 80px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.email-subscribe {
    color: #fff;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    line-height: 2;
    letter-spacing: 0.04em;
    padding: 8px auto;
    padding-left: 16px;
}

.email-subscribe::placeholder {
    color: #fff;
}

.btn-subscribe {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.icon-subscribe {
    margin-left: 16px;
    fill: #fff;
}

/* modal style */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 584px;
    transform: translate(-50%, -50%);
    width: 408px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 72px 24px 24px 24px;
}

.close-form-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 24px;
}

.close-form-btn:hover,
.close-form-btn:focus {
    background-color: #404bbf;
    border: none;
}

.close-form-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

.close-form-btn:hover .close-form-icon,
.close-form-btn:focus .close-form-icon {
    fill: #ffffff;
}

.fb-form-txt {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.fb-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    gap: 8px;
}

.label-name {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.form-input-design {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    height: 40px;
    padding-left: 38px;
    width: 100%;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-box {
    position: relative;
    margin-bottom: 8px;
}

.input-box {
    position: relative;
}

.form-input-design:hover+svg,
.form-input-design:focus+svg {
    fill: #4d5ae5;
}

.form-input-design:hover,
.form-input-design:focus,
.form-input-design:focus-within {
    border-color: #4D5AE5;
}

.input-icon {
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-box {
    margin-bottom: 16px;
}


.form-input-comment {
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4); 
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-comment:hover,
.form-input-comment:focus,
.form-input-comment:focus-within {
    border-color: #4D5AE5;
}

.pp-checkbox {
    margin-bottom: 24px;
}

.user-privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.policy-design {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.check-design:checked + label > span {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
}

.policy-link-design {
    color: #4d5ae5;
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.submit-fb-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-style: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}